.queryInputs {
  margin-top: 105px;
  display: flex;
}

.query input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 60px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.queryIcon {
  height: 50px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(585%, -50%);
}

.queryResult {
  margin-top: 5px;
  width: 600px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 14%);
}

.queryResult::-webkit-scrollbar {
  display: none;
}

.queryResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.dataItem p {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
